<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeavingDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\LeavingMangementSystem\LeavingMangementSystem\DAL\App_Data\LeavingDB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="LeavingMangementSystem.Properties.Settings.LeavingDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Data\LeavingDB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="LeavingMangementSystem.Properties.Settings.LeavingDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\LeavingMangementSystem\LeavingMangementSystem\DAL\App_Data\LeavingDB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>